
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary text-center">
                  <svg cIcon name="cilUser"></svg>
                </th>
                <th class="bg-body-tertiary">Full Name</th>
                <th class="bg-body-tertiary text-center">Email</th>
                <th class="bg-body-tertiary">Phone Number</th>
                <th class="bg-body-tertiary text-center">Location</th>
                <th class="bg-body-tertiary">Category</th>
                <th class="bg-body-tertiary text-center">Business Name</th> <!-- New column for Business Name -->
                <th class="bg-body-tertiary text-center">License No</th> <!-- New column for Business License Number -->
                <th class="bg-body-tertiary text-center">Status</th>
                <th class="bg-body-tertiary text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contractor of contractors; let i = index">
                <td class="text-center">
                  <c-avatar [size]="'md'" src="{{ contractor.profilePicture }}" />
                </td>
                <td>
                  <div>{{ contractor.fullName }}</div>
                </td>
                <td class="text-center">
                  <a href="mailto:{{ contractor.email }}">{{ contractor.email }}</a>
                </td>
                <td>
                  <div>{{ contractor.phoneNumber }}</div>
                </td>
                <td class="text-center">
                  <div>{{ contractor.location }}</div>
                </td>
                <td>
                  <div>{{ contractor.serviceCategory }}</div>
                </td>
                <td class="text-center"> <!-- New column for Business Name -->
                  <div>{{ contractor.businessName }}</div>
                </td>
                <td class="text-center"> <!-- New column for Business License Number -->
                  <div>{{ contractor.businessLicenseNumber }}</div>
                </td>
                <td class="text-center">
                  <span [ngClass]="{'text-success': contractor.status === 'Active', 'text-danger': contractor.status === 'Inactive'}">
                    {{ contractor.status }}
                  </span>
                </td>
                <!-- <td class="text-center">
                  <span class="clickable-icon edit-icon" (click)="editContractor(contractor)">
                    <c-icon name="cil-pencil" class="me-2" title="Edit"></c-icon>
                  </span>
                  <span class="clickable-icon delete-icon" (click)="deleteContractor(contractor.id)">
                    <c-icon name="cil-trash" title="Delete"></c-icon>
                  </span>
                  <span class="clickable-icon" (click)="openSubscriptionModal(contractor.id)">
                    <c-icon name="cil-trash" class="me-2" title="Add Subscription"></c-icon>
                  </span>
          
                </td> -->

                <td class="text-center">
                  <ng-container *ngTemplateOutlet="actionsDropdown" />
                </td>

                <ng-template #actionsDropdown> 
                  <!-- <td class="text-center"> -->
                    
                    <c-dropdown [popperOptions]="{ placement: 'top-start' }" variant="nav-item">
                      <button [caret]="false" cDropdownToggle class="btn btn-sm p-0" aria-label="Open actions menu">
                        <c-icon name="cil-options" class="me-2" title="More Actions"></c-icon>
                      </button>
                      <ul cDropdownMenu class="dropdown-menu">
                        <li cDropdownItem (click)="editContractor(contractor)">
                          <c-icon name="cil-pencil" class="me-2"></c-icon> Edit
                        </li>
                        <li cDropdownItem (click)="deleteContractor(contractor.id)">
                          <c-icon name="cil-trash" class="me-2"></c-icon> Delete
                        </li>
                        <li cDropdownItem (click)="openSubscriptionModal(contractor.id)">
                          <c-icon name="cil-plus" class="me-2"></c-icon> Add Subscription
                        </li>
                      </ul>
                    </c-dropdown>
                  <!-- </td> -->
                </ng-template>
                

              </tr>
          <app-subscription-modal></app-subscription-modal>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>